.ant-menu-sub.ant-menu-inline {
  background-color: transparent;
}

.ant-menu,
.ant-menu-submenu-expand-icon,
.ant-menu-submenu-arrow,
.ant-menu-item a,
.user .name,
.user .department {
  color: white;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #1890ff !important;
}

.user {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: white;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 20px;
}
