.title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.25px;
  color: #96a3b3;
}
.jumlah {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: #1c7bd9;
}
.bottomText {
  margin: 0 !important;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #042040;
}
