.header {
  background-color: white;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.15px;
  color: #042040;
}

.user {
  margin-top: 64px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user h2 {
  color: white;
  margin: 16px 0 8px;
}

.active {
  font-weight: bold;
  background-color: red;
}
